<app-header [businessData] = "businessData" [businessLogo]="businessData.business_logo"></app-header>


<div id="card">
  <div class="card border-success mb-3" style="max-width: 20rem">
    <div class="card-header bg-transparent border-dashed">
      <strong>
        {{ businessTransactionData?.amount || 00.00 }}
        <span>        {{ businessTransactionData?.currency }}
        </span>
      </strong>
      <p>You're paying with vodafone - {{ collectionData?.phone_no }}</p>
    </div>

    <div class="card-body">
      <h6>Kindly follow step below for completing your payment</h6>
      <div class="stepper d-flex flex-column mt-5 ml-2">
        <div class="d-flex mb-1">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1">1</div>
            <div class="line h-100"></div>
          </div>
          <div>
            <h5 class="text-dark">Dial *110#</h5>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1">1</div>
            <div class="line h-100"></div>
          </div>
          <div>
            <h5 class="text-dark">----> Withdraw cash</h5>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1">1</div>
            <div class="line h-100"></div>
          </div>
          <div>
            <h5 class="text-dark">----> From Agent</h5>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1">1</div>
            <div class="line h-100"></div>
          </div>
          <div class="text-span">
            <h5 style="font-size:11px" class="text-dark">
              ----> Till number : <span>337998</span>
              <span class="copy1"
                >
                <i class="bi bi-clipboard2"></i>
                <span
                mat-icon-button
                matSuffix
                placement="top"
                ngbPopover="Copied!"
                (click)="copyInputMessage('337998')"
                > {{ copyText }}
              </span></span
              >
            </h5>
            <h6>Noworri financial technology</h6>
          </div>
        </div>
        <div class="d-flex">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1"></div>
          </div>
          <div>
            <h5 class="text-dark">
              ----> Enter the amount and valid with your PIN
            </h5>
          </div>
        </div>
      </div>

      <app-payment-made-button></app-payment-made-button>
    </div>
  </div>
</div>
<app-footer></app-footer>
