// header

.header {
    display: flex;
    position: relative;
    top: 1.35rem;
    right: 4.3rem;
    justify-content: center;
  
    img {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      right: 6.5px;
      border: 1px rgb(224, 223, 223) solid;
    }
    span {
      position: relative;
      color: #000000;
      font-weight: 400;
      right: 6px;
    }
  }
  // end header
  

  .list-group {
    position: relative;
    left: 11px;
    .list-group-item {
      position: relative;
      bottom: 2.5rem;
      font-size: 12px;
      width: 18rem;
      right: 10px;
      text-align: left;
      background-color: #f31853;
  
      line-height: 13.5px;
    }
  }
  .btn {
    font-family: "Poppins";
    position: relative;
    bottom: 3.7rem;
    background-color: #101010;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 10px;
    width: 18rem;
    right: 10px;
  }
  
  .bi-caret-down-fill {
    color: #f31853;
    font-size: 2rem;
    position: relative;
    bottom: 3.1rem;
    left: 5rem;
    width: 0;
    height: 0;
  }
  .copy1 {
    position: relative;
    margin: 8px;
    cursor: pointer;
    color: #000000 !important;
  }
  .copy2 {
    position: relative;
    left: 2px;
    cursor: pointer;
    color: #000000 !important;
  }
  