<app-header [businessData] = "businessData" [businessLogo]="businessData.business_logo"></app-header>


<div id="card">
  <!-- <span> <i class="bi bi-x-circle"></i></span> -->
  <div class="card border-success mb-3" style="width: 20rem">
    <div class="card-header bg-transparent border-dashed">
      <strong>{{ businessTransactionData?.amount }}<span>{{ businessTransactionData?.currency }}</span> </strong>
      <p>You're trying to pay with {{ collectionData?.operator }} - {{ collectionData?.phone_no}}</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <div class="container">
          <p>Payment verification successfull! </p>
          <br/>
          <p *ngIf="businessTransactionData?.callback_url">You are about to be redirected be redirected ...</p>

          <!-- <span id="boot-icon" class="bi bi-check-circle" style="font-size: 10rem; color: rgb(25, 184, 86);"></span> -->

          <div class="d-grid gap-2">
            <!-- <button class="btn" type="button" (click)="onRetryPayement()">
              RETRY PAYEMENT
            </button> -->
          </div>
          <span><i class="bi bi-arrow-right-short"></i></span>
        </div>
      </h5>
    </div>
  </div>
</div>
<app-footer></app-footer>
